body {
    text-align: center;
}

h3 {
    width: 100%;
    margin: auto;
    padding: 0 0 0 0px;
}

#refresh {
    text-align: center;
    width: 50%;
    margin: auto;
    padding:0 30px ;
}

#refresh:hover {
    cursor: pointer;
}

#card_deck {
    display:block;
    width: 600px;
    height: 600px;
    margin: auto;
    position: relative;
}

.rows {
    width:100%;
    height:25%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.cards {
    width: 25%;
    height: 100%;
    border: 1px dashed dimgrey;
    font-size: 500%;
    line-height: 190%;
    user-select: none; 
    background-color: lightsteelblue;
}
@media screen and (max-width: 650px), screen and (max-height: 725px) and (min-width: 420px), screen and(min-height: 520px)  {
    #card_deck {
        display:block;
        width: 400px;
        height: 400px;
        margin: auto;
        position: relative;
    }

    .cards {
        width: 25%;
        height: 100%;
        border: 1px dashed dimgrey;
        font-size: 350%;
        line-height: 190%;
        user-select: none; 
        background-color: lightsteelblue;
    }
}

@media screen and (max-width: 419px), screen and (max-height: 519px) and (min-height: 400px) {
    #card_deck {
        display:block;
        width: 300px;
        height: 300px;
        margin: auto;
        position: relative;
    }

    .cards {
        width: 25%;
        height: 100%;
        border: 1px dashed dimgrey;
        font-size: 300%;
        line-height: 170%;
        user-select: none; 
        background-color: lightsteelblue;
    }
}

@media screen and (max-width: 419px), screen and (max-height: 399px)  {
    h1 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 0.9em;
    }

    #card_deck {
        display:block;
        width: 250px;
        height: 250px;
        margin: auto;
        position: relative;
    }

    .cards {
        width: 25%;
        height: 100%;
        border: 1px dashed dimgrey;
        font-size: 200%;
        line-height: 190%;
        user-select: none; 
        background-color: lightsteelblue;
    }
}

/* The Modal (background) */
/* The following code based off of W3School */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 25%;
    top: 20%;
    width: 50%; 
    height: 50%;
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
